<div class="in-html">

<div class="in-style">
</div>

<div class="in-body">
  <div id="main">
    <h1 class="in-title">template title</h1>
    <div id="body">
      <div id="code" class="part">
        <h3>代码：</h3>
        <div class="show">
          <h5>CSS代码：</h5>
          <pre name="code" class="csspre">
replace1
                </pre>
          <h5>HTML代码：</h5>
          <pre name="code" class="htmlpre">
replace1
                </pre>
          <h5>JS代码：</h5>
          <pre name="code" class="jspre">
                </pre>
        </div>
      </div><div id="realDom">
        replace1
      </div>
    </div>
  </div>
  <div class="script">
  </div>
</div>

</div>
